/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/


.event{
    &__origin-bgimg{
        top: 17%;
        height: 350px;
        
    }
      &__buy-bgimg{
        top: 60%;
        height: 450px;
    
      }
    
  }